
button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: white;
  opacity: .8;
}

.add-meme-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: black;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.edit-meme-form {
  display: none;
}

.meme-image-container {
  position: relative;
}

.text-block {
 position: absolute;
 top: 1px;
 right: 5px;
 left: 5px;
 text-shadow: 2px 2px black;
 font-family: impact;
 font-size: 50px;
 color: white;
 word-wrap: break-word;
}

#h3-blocks {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: impact;
}

.ui.justified.huge.header {
  font-size: 4rem;
  animation: color-me-in 10s infinite;
}
@keyframes color-me-in {
  0% {
    color: blue;
  }
  25% {
    color: red;
  }
  50% {
    color: orange;
  }
  75% {
    color: green;
  }
  100% {
    color: purple;
  }
}
#flex-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
